<main style="display: flex;align-items: center; justify-content: center;flex: 1;">
    <div >
        <%if(typeof errSignup != 'undefined'){%>
            <p class="errSignup"><%=errSignup%></p>
        <%};%>
        <form class="formSignup" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control email" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
                    <%if(typeof email != 'undefined'){%>
                        value=<%= email%>
                    <%};%>
                >
            </div>
            <div class="mb-3">
                <label for="exampleInputUname" class="form-label">Username</label>
                <input type="text" class="form-control uname" id="exampleInputUname" name="uname"
                    <%if(typeof uname != 'undefined'){%>
                        value=<%= uname%>
                    <%};%>
                >
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control pass" id="exampleInputPassword1" name="pass"
                    <%if(typeof pass != 'undefined'){%>
                        value=<%= pass%>
                    <%};%>
                >
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 16px !important">Signup</button>
        </form>
    </div>
</main>
<style type="text/css">
    body{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
    html{
        height: 100%;
    }
    .formSignup{
        width: 20%;
        min-width: 350px;
        border: 1px solid rgb(192, 192, 192) !important;
        padding: 50px;
    }
    .errSignup{
        color: red;
    }
</style>