<main class="pt-3">
  <div class="container pt-3 px-5">
    <% blogs.forEach(blog => { %>
    <div class="row mb-3 align-items-center">
      <div class="col-md-3">
        <img src="images/images.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-9">
        <div class="blog-info">
          <h5 class="blog-title"><a href="#" class="text-dark"><%= blog.tieuDeBaiViet %></a></h5>
          <p class="blog-summary"><%= blog.noiDungTomTat %></p>
          <p class="blog-date"><small class="text-muted"><%= blog.ngayDang %></small></p>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</main>
